# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Build artifacts
/dist
/build

# React Router Dev Tools cache
/.react-router/

# Environment variables - Do not commit these!
.env
.env.*

yarn.lock

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
